<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <sessionState mode="Off"/>
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough"/>
    <!-- Comment this for running in VS2010 Dev Server -->
    <handlers>
      <add name="Simple.Web" path="*" verb="*" type="Fix.AspNet.FixHttpHandler"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="JsonFx" publicKeyToken="315052dd637f8a52" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.1209.2802" newVersion="2.0.1209.2802"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>